@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  background-image: url(https://images.pexels.com/photos/6985048/pexels-photo-6985048.jpeg?cs=srgb&dl=pexels-codioful-6985048.jpg&fm=jpg);


}

main {
  .container {

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.card {

  p {
    font-size: 14px;
    color: rgb(48, 47, 47);
  }

  img {
    max-height: 400px;

  }

  &:hover {
    cursor: pointer;
  }
}